#contact {
  position: fixed;
  z-index: 200;
  bottom: 30px;
  right: 30px;

  li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;

    &:nth-child(2) svg {
      height: 25px;
      width: 25px;
    }
  }

  svg {
    width: 30px;
    height: 30px;
    fill: #FFFFFF;
    transition: fill 0.3s;
  }
}

.page-home #contact svg {
  fill: #2D2D2D;
}
