html, body {
  overflow: hidden;
}

body.loading * {
  cursor: wait
}

canvas {
  // Fix scroll issue
  vertical-align: middle;
}

.page-header {
  position: fixed;
  top: 25px;
  left: 25px;

  .home-icon {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 30px;
    margin-right: 25px;
    fill: #FFF;
  }

  .page-title {
    display: inline-block;
    vertical-align: middle;
    margin-top: 3px;
    color: #FFF;
    text-transform: capitalize;
  }
}

article {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}

.overflow-transition {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100vh;
  z-index: 1000;
  background-color: #fff;
}

.page-curve {
  background: #2D2D2D;
}

.page-sphere {
  background: #000000;
}

.page-rgb {
  background-color: #2D2D2D;

  .page-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    canvas, img {
      margin: 100px;
    }
  }
}
